/* GENERALES - INICIO */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #bbb;
}

h1 {
  color: #1E1B31;
}

/* GENERALES - FIN */
/* NAV - INICIO */
nav {
  background-color: #1E1B31;
  font-size: 20px;
}

.navbar-brand {
  color: #F7CCAC;
}

.navbar-brand:hover {
  color: white;
}

.navbar-imagen {
  height: auto;
  width: 25px;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  margin-right: 142px;
}

.nav-link {
  color: #F7CCAC;
}

.nav-link:hover {
  color: white;
}

.navbar-toggler {
  width: 50px;
  height: 40px;
  border: 2px solid white;
  color: #F7CCAC;
}

.navbar-toggler:focus {
  box-shadow: 0 0 6px white;
}

/* NAV - FIN */
/* CARDS - INICIO */
.cards-contenedor {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-items: center;
}

.cards {
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  background-color: #C69B7B;
  border-radius: 5px;
  box-shadow: 5px 5px 12px #1E1B31, -5px -5px 12px #1E1B31;
  color: white;
  font-weight: bold;
}

.cards-imagen {
  height: 300px;
  width: 100%;
}

.cards-metros-habitaciones-contenedor {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  padding: 5px;
  font-size: 20px;
}

.cards-metros-habitaciones-descripcion {
  font-size: 20px;
  padding-bottom: 6px;
  border-bottom: 3px dashed #1E1B31;
}

.cards-metros-habitaciones-imagen {
  height: 50px;
  width: auto;
}

.cards-precio {
  border-top: 1px solid #1E1B31;
  padding-top: 15px;
}

/* CARDS - FIN */
.contenedorFormulario {
  box-shadow: 2px 2px 6px black;
  padding: 20px 70px;
}

.formulario-slot {
  border: none;
  width: 100%;
  padding: 5px;
  outline: none;
  border-bottom: 3px solid #1E1B31;
}

.formulario-textarea {
  border: none;
  width: 100%;
  padding: 5px;
  outline: none;
  border-bottom: 3px solid #1E1B31;
  resize: none;
  height: 300px;
}

/* CAROUSEL - INICIO */
.carousel {
  margin: 10px 20px;
}

.carousel-inner {
  text-align: center;
  box-shadow: 0px 0px 12px black;
}

.carousel-control-prev {
  color: white;
  opacity: 100%;
  width: 50px;
}

.carousel-control-prev:hover {
  color: white;
  opacity: 100%;
}

.carousel-control-prev:focus {
  color: white;
  opacity: 100%;
}

.carousel-control-next {
  color: white;
  opacity: 100%;
  width: 50px;
}

.carousel-control-next:hover {
  color: white;
  opacity: 100%;
}

.carousel-control-next:focus {
  color: white;
  opacity: 100%;
}

/* CAROUSEL - FIN */
.btn {
  background-color: #3C365F;
  color: white;
}

.btn:hover {
  background-color: #1E1B31;
  color: white;
}

/* MODAL - INICIO */
.modal-content {
  top: 0px;
  width: 900px;
  height: 100%;
  right: 200px;
  text-align: center;
  background-color: #C69B7B;
  margin-bottom: 30px;
}

.modal-title {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #1E1B31;
  color: white;
}

.cards-imagen-modal {
  height: 400px;
  width: 100%;
}

.modal-correccion {
  margin-top: -15px;
}

.modal-cards-metros-habitaciones-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-footer {
  border-top: 2px solid #1E1B31;
}

/* MODAL - FIN */
/* MEDIAS - INICIO */
@media screen and (max-width: 991px) {
  .cards-contenedor {
    grid-template-columns: 1fr;
  }
}
/* MODAL WIDTH - INICIO */
@media screen and (min-width: 0px) and (max-width: 299px) {
  .modal-content {
    width: 230px;
    right: 0;
    top: 20px;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .cards-imagen-modal {
    height: 150px;
    width: 100%;
  }
}
@media screen and (min-width: 300px) and (max-width: 415px) {
  .modal-content {
    width: 280px;
    right: 0;
    top: 20px;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .cards-imagen-modal {
    height: 200px;
    width: 100%;
  }
}
@media screen and (min-width: 416px) and (max-width: 575px) {
  .modal-content {
    width: 400px;
    right: 0;
    top: 20px;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .cards-imagen-modal {
    height: 330px;
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 640px) {
  .modal-content {
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .cards-imagen-modal {
    height: 330px;
    width: 100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 940px) {
  .modal-content {
    width: 600px;
    right: 50px;
  }
}
@media screen and (max-width: 600px) {
  .contenedorFormulario {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;
    margin-right: 0px;
    text-align: end;
  }
}
/* MODAL WIDTH - FIN */
/* MODAL HEIGHT - INICIO */
@media screen and (max-height: 490px) {
  .cards-imagen-modal {
    height: 240px;
    width: 100%;
  }
}
/* MODAL HEIGHT - FIN */
/* MEDIAS - FIN */

/*# sourceMappingURL=style.css.map */
