/* CAROUSEL - INICIO */

.carousel {

    margin: 10px 20px;
    
}


.carousel-inner {
    text-align: center;
    box-shadow: 0px 0px 12px black;

}

.carousel-control-prev{

    color: white;
    opacity: 100%;
    width: 50px;
  

}

.carousel-control-prev:hover{

    color: white;
    opacity: 100%;
   

}

.carousel-control-prev:focus{

    color: white;
    opacity: 100%;

}

.carousel-control-next{

    color: white;
    opacity: 100%;
    width: 50px;

}

.carousel-control-next:hover{

    color: white;
    opacity: 100%;

}

.carousel-control-next:focus{

    color: white;
    opacity: 100%;

}



/* CAROUSEL - FIN */