/* CARDS - INICIO */


.cards-contenedor {

    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    justify-items: center;

}

.cards {

    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    background-color: $color-terciario;
    border-radius: 5px;
    box-shadow: 5px 5px 12px $color-primario, -5px -5px 12px $color-primario;
    color: white;
    font-weight: bold;

}

.cards-imagen {

    height: 300px;
    width: 70%;
    padding: 10px 0;
    object-fit: contain;
   


}

.cards-metros-habitaciones-contenedor {

   
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    padding: 5px;
    font-size: 20px;

}

.cards-metros-habitaciones-descripcion {

    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 3px dashed $color-primario;

}

.cards-metros-habitaciones-imagen {

    height: 50px;
    width: auto;
    

}

.cards-precio {

    border-top: 1px solid $color-primario;
    padding-top: 15px;


}

/* CARDS - FIN */
