.footer-contenedor {

    padding-top: 10px;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer-links {

    color: black;
    text-decoration: none;

}

.footer-links:visited  {

    color: brown;
  

}