/* MEDIAS - INICIO */
@media screen and (max-width: 991px) {
    .cards-contenedor {

        grid-template-columns: 1fr;
        
    
    }
}

/* MODAL WIDTH - INICIO */

@media screen and  (min-width: 0px) and (max-width: 299px) {
    
    .modal-content {
        
        width: 230px;
        right: 0;
        top: 20px;
        bottom: 0;
        left: 0;
        margin: auto;

        
      
    
    }
    .cards-imagen-modal {

        height: 150px;
        width: 100%;
     
    }

}

@media screen and  (min-width: 300px) and (max-width: 415px) {
    
    .modal-content {
        
        width: 280px;
        right: 0;
        top: 20px;
        bottom: 0;
        left: 0;
        margin: auto;

        
      
    
    }
    .cards-imagen-modal {

        height: 200px;
        width: 100%;
     
    }

}

@media screen and  (min-width: 416px) and (max-width: 575px) {
    
    .modal-content {
        
        width: 400px;
        right: 0;
        top: 20px;
        bottom: 0;
        left: 0;
        margin: auto;

        
      
    
    }
    .cards-imagen-modal {

        height: 330px;
        width: 100%;
        
    }

}

@media screen and  (min-width: 576px) and (max-width: 640px) {
    
    .modal-content {
        width: 400px;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;

    
    }
    .cards-imagen-modal {

        height: 330px;
        width: 100%;
       
    }

}



@media screen and (min-width: 641px) and (max-width: 940px) {
    
    .modal-content {

        width: 600px;
        right: 50px;
    
    
    }

}

@media screen and (max-width: 600px) {
    
    .contenedorFormulario {
        padding: 20px 10px;
    
    }



}

@media screen and (max-width: 991px) {
    
    .navbar-collapse {

     
        justify-content: end;
        text-align: end;
        margin-right: 0px;
    
    }


}


/* MODAL WIDTH - FIN */

/* MODAL HEIGHT - INICIO */
@media screen and (max-height: 490px) {
    


    .cards-imagen-modal {

        height: 240px;
        width: 100%;
       

    }


}

/* MODAL HEIGHT - FIN */

/* MEDIAS - FIN */

