/* MODAL - INICIO */

.modal-content {

    top: 0px;
    width: 900px;
    height: 100%;
    right: 200px;
    text-align: center;
    background-color: $color-terciario;
    margin-bottom: 30px;



}


.modal-title {

    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $color-primario;
    color: white;

}

.cards-imagen-modal {

    height: 400px;
    width: 100%;
  
}



.modal-correccion {

    margin-top: -15px;

}

.modal-cards-metros-habitaciones-contenedor {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.modal-footer {

    border-top:2px solid $color-primario;

}


/* MODAL - FIN */