/* MODAL - INICIO */

.modal-content {

    width: 900px;
    height: auto;
    right: 200px;


}

.modal-content {

    text-align: center;

}

.modal-title {

    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;

}

.cards-imagen-modal {

    height: 370px;
    width: 470px;
    padding: 10px;
}

.modal-body {

    margin-top: -15px;
    margin-bottom: 20px;

}

.modal-correccion {

    margin-top: -15px;

}


/* MODAL - FIN */