/* NAV - INICIO */


nav {

    background-color: $color-primario;
    font-size: 20px;
    

}

.navbar-brand {

    color: $color-secundario;


}

.navbar-brand:hover {

    color: white;

}





.navbar-imagen {

    height: auto;
    width: 25px;


}

.navbar-collapse {

  

}

.nav-link {

    color: $color-secundario;

}

.nav-link:hover {

    color: white;

}
.navbar-toggler {


    width: 50px;
    height: 40px;
    border: 2px solid white;
    color: $color-secundario;



}

.navbar-toggler:focus {
    box-shadow: 0 0 6px white;
   
}


/* NAV - FIN */

