/* NAV - INICIO */

* {

    margin: 0;
    padding: 0;

}

body {

    background: #bbb;

}



nav {

    background-color: $color-primario;
    font-size: 20px;
    

}

.navbar-brand {

    color: $color-secundario;


}

.navbar-brand:hover {

    color: white;

}





.navbar-imagen {

    height: auto;
    width: 35px;


}

.navbar-collapse {

    display: flex;
    justify-content: center;
    margin-right: 142px;

}

.nav-link {

    color: $color-secundario;

}

.nav-link:hover {

    color: white;

}



/* NAV - FIN */

